@-webkit-keyframes heart-grow-history {
    0% {
        opacity: .6;
      }
    
      100% {
        transform: scale(40.8);
        opacity: 1;
      }
}

@keyframes heart-grow-history {
    0% {
        opacity: .6;
      }
    
      100% {
        transform: scale(40.8);
        opacity: 1;
      }
}

@-webkit-keyframes heart-shrink-history {
    0% {
        transform: scale(40.8);
        opacity: 1;
      }
    
      100% {
        opacity: .6;
      }
}

@keyframes heart-shrink-history {
    0% {
        transform: scale(40.8);
        opacity: 1;
      }
    
      100% {
        opacity: .6;
      }
}

@-webkit-keyframes vibrationPhone {
    0% {
        transform: rotate(310deg);
    }
    50% {
        transform: rotate(325deg);
    }
    100% {
        transform: rotate(310deg);
    }
}

@keyframes vibrationPhone {
    0% {
        transform: rotate(310deg);
    }
    50% {
        transform: rotate(325deg);
    }
    100% {
        transform: rotate(310deg);
    }
}

@-webkit-keyframes beatHeart {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.1);
    }

    40% {
        transform: scale(1);
    }

    60% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes beatHeart {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.1);
    }

    40% {
        transform: scale(1);
    }

    60% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes opacity-to-1 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes opacity-to-1 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes opacity-to-0 {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes opacity-to-0 {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}